<%- include('partials/header') %>

<header>
  <div class="logo-div">
    <abbr title="Jarvis">
      <a href="/">
      <img src="images/3d-movie.png" alt="" class="logo" width="90" height="90">
      </a>
    </abbr>
  </div>
  <div class="nav-bar">
    <ul>
      <li><a href="/login"><button autofocus type="submit">Log in</button></a></li>
      <li><a href="/register"><button>Sign Up</button></a></li>
    </ul>
  </div>
</header>
<img src="images/play-button.png" class="play">
<h1>Welcome to Jarvis Movie System</h1>



<%- include('partials/footer') %>
